body {
  // background-color: #787800;
}

.vote-button {
  background-color: #fcfcfc;
  // border: 1px solid #eee;
  font-size: 48px;
  padding: 24px 24px;

  &:hover {
    background-color: #f8f8f8;
  }

  &:active {
    background-color: #f2f2f2;
  }


}
